.settings__time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-bottom: 2px solid var(--mainDark);
}
.settings__time-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.settings__time-buttons {
  height: 40px;
  display: flex;
  gap: 4px;
}
.settings__time-button {
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  border-radius: var(--defaultRadius);
  border: 0;
  background-color: var(--yellowButtonBackground);
  cursor: pointer;
}
.settings__time-button.selected {
  transition: all 0.3s;
  background-color: #ffffff;
}
.settings__time-limit-select {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
