.chessboard-wrapper {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
}
.chessboard-content {
  grid-column: 2;
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: 40px 800px 40px;
  grid-template-areas:
    "timer__top ."
    "chessboard moves"
    "timer__bottom .";
  gap: 0.8rem;
}
.chessboard-timer.chessboard-timer--top {
  grid-area: timer__top;
}
.chessboard {
  grid-area: chessboard;
}
.chessboard-moves {
  grid-area: moves;
}
.chessboard-timer.chessboard-timer--bottom {
  grid-area: timer__bottom;
}

@media all and (max-width: 1250px) {
  .chessboard-wrapper {
    grid-template-columns: 1fr 1100px 1fr;
  }
  .chessboard-content {
    grid-template-columns: 800px 300px;
  }
}

@media all and (max-width: 1150px) {
  .chessboard-wrapper {
    grid-template-columns: 1fr 800px 1fr;
  }
  .chessboard-content {
    grid-template-columns: 100%;
    grid-template-rows: 40px 800px 40px 250px;
    grid-template-areas:
      "timer__top"
      "chessboard"
      "timer__bottom"
      "moves";
    overflow-x: hidden;
  }
}

@media all and (max-width: 900px) {
  .chessboard-wrapper {
    grid-template-columns: 1fr 750px 1fr;
  }
  .chessboard-content {
    grid-template-rows: 40px auto 40px 250px;
  }
}

@media all and (max-width: 750px) {
  .chessboard-wrapper {
    grid-template-columns: 100%;
  }
  .chessboard-content {
    padding: 0.5rem;
    grid-column: 1;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 40px 250px;
  }
}

@media all and (max-height: 750px) {
  .chessboard-content {
    grid-template-rows: 40px auto 40px 150px;
  }
}

@media all and (max-width: 450px) {
  .chessboard-timer {
    grid-template-columns: 1fr 1fr;
  }
}
