.settings__strength {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid var(--mainDark);
}
.strengthVariants {
  display: flex;
  gap: 2px;
}
.strengthVariants__variant {
  font-size: 14px;
  font-weight: 500;
  transition: all 0.1s;
  flex: 1;
  padding: 0.8rem;
  border-radius: var(--defaultRadius);
  background-color: var(--yellowButtonBackground);
  border: none;
  cursor: pointer;
}
.strengthVariants__variant.selected,
.strengthVariants__variant.selected:hover {
  background-color: #ffffff;
}
.strengthVariants__variant:hover {
  transition: all 0.1s;
  background-color: #ffffffcc;
}
.settings__strength-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
