.chessboard-moves-list {
  box-sizing: border-box;
  background-color: #151c51;
  margin: 0;
  padding: 0.5rem 1rem;
  max-height: 800px;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  display: grid;
  grid-auto-rows: 20px;
  overflow-y: auto;
}
.chessboard-moves-list__move-pair {
  display: grid;
  grid-template-columns: 40px 100px 100px;
}
.chessboard-moves-list__move {
  display: flex;
}
.chessboard-moves-list__move.win {
  border: 2px solid var(--darkerYellow);
}
