.chessboard-moves {
  display: grid;
  grid-template-rows: 25px 1fr;
  background-color: #151c51;
  border-radius: 2px;
}

.chessboard-moves-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  display: grid;
  grid-auto-rows: 20px;
  overflow-y: auto;
}
.chessboard-moves__move-pair {
  display: grid;
  grid-template-columns: 40px 100px 100px;
}
.chessboard-moves__move {
  display: flex;
}
.chessboard-moves__move.win {
  border: 2px solid var(--darkerYellow);
}
.chessboard-moves__change-side-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  justify-self: start;
  margin-left: 10px;
  margin-top: 5px;
}
